{% extends 'base.html.twig' %}

{% block title %}Change Password
{% endblock %}

{% block body %}
	{# <form>	 #}
        {# {{ form_start(form) }}     #}
        {# {{ form_row(form.oldpassword) }} #}
        {# {{ form_row(form.password) }} #}
		{# {{ form_end(form) }}   #}
		{{ form(form) }}
		{# <button class="btn btn-lg btn-primary" type="submit">
			Modifier
		</button> #}
	{# </form> #}
	{# var_dump($utilisateur); #}
	{# <?=
	var_dump($newEncodedPassword);
	?> #}
{% endblock %}