{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	{% if app.user %}
		<div class="mb-3">
			You are already logged in as
			{{ app.user.username }}! Redirecting...
			{# <a href="{{ path('app_logout') }}">Logout</a> #}
		</div>
	{% else %}
		<div id="connexionbox">
			<div id="connexionboxinside1">
				<h2 id="logintext">Bonjour,<br>Mettons nous au<br>travail !</h2>
				<div id="yellowbox"></div>
				<div id="whitecircle"></div>
			</div>
			<div id="connexionboxinside2">
				<form method="post" id="loginform">


					<h1 id="logintitle" class="h3 mb-3 font-weight-normal">Connexion</h1>
					<div id="loginInputs">
						{# <label for="inputEmail">Email</label> #}
						<input
						placeholder="Email" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
						{# <label for="inputPassword">Mot de passe</label> #}
						<input placeholder="Mot de passe" type="password" name="password" id="inputPassword" class="form-control" required>

						<input
						type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

{#
    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
    See https://symfony.com/doc/current/security/remember_me.html
			
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Remember me
        </label>
    </div>
#}
					</div>
					<button class="btn btn-lg btn-primary loginbtn" type="submit">
						Se connecter
					</button>
				</form>
			</div>
		</div>
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}
	{% endif %}
	<a id="coloredselect6" class="nav-link btn" 
	{# href="{{ path('app_forgot_password_request')}}" #}
	>Forgot Password</a>
{% endblock %}
