{% extends 'base.html.twig' %}

{% block contenu %}
	<h1>Annuaire des Formations</h1>
	<a type="button" class="btn btn-success ajouter" href="
		
				{# {{ path('formation_add')}} #}
		
				">Ajouter</a>


	<table class="table">
		<tr>
			<th>NOM</th>
			<th>DESCRIPTION</th>
			{# <th>SESSIONS</th>
			<th>DUREE</th>
			<th>MODULES</th>
			<th>CATEGORIE</th>
			<th>FORMATEUR</th> #}
			<th>Modifier</th>
			<th>Supprimer</th>
		</tr>
	</thead>
	<tbody>
		{% for formation in formations %}
			<tr>
				<td>{{ formation.nom }}</td>
				<td>{{ formation.description }}</td>
				{# <td>{{ formation.sessions }}</td>
				<td>{{ formation.duree }}</td>
				<td>{{ formation.modules }}</td>
				<td>{{ formation.categorie }}</td>
				<td>{{ formation.formateur }}</td> #}
				<td>
					<a type="button" class="btn btn-warning" href="
												                {# {{ path('formation_edit', {'id':formation.id}) }} #}
												                ">Modifier</a>
				</td>
				<td>
					<a type="button" class="btn btn-danger" href="
												                {# {{ path('formation_delete', {'id':formation.id}) }} #}
												                ">Supprimer</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>{% endblock %}
