{% extends 'base.html.twig' %}

{% block contenu %}
	<a type="button" href="{{ path('formation')}}" class="btn" style="padding-left: 0;">
		<i class="fas fa-arrow-left" style="font-size: 3rem"></i>
	</a>
	{# <p>Nom : {{ formation.nom ~ ' ' ~ formation.prenom }}</p>
		<p>Civilité : {{ formation.civilite }}</p>
		<p>Adresse mail : <a href="mailto:{{ formation.email }}">{{ formation.email }}</a></p>
		<p>Téléphone : {{ formation.telephone }}</p>
		<p>Date de naissance : {{ formation.dateNaissance | date ('d/m/Y') }}</p>
		<p>Ville : {{ formation.ville }}</p>
		<p>Adresse : {{ formation.adresse }}</p>
		<p>Code Postal : {{ formation.cp }}</p> #}
	<table>
		<tr>
			<th>Nom :</th>
			<td>{{ formation.nom }}</td>
		</tr>
		<tr>
			<th>Description :</th>
			<td>{{ formation.description }}</td>
		</tr>
	</table>
	<a type="button" class="btn btn-warning" href="{{ path('formation_edit', {'id':formation.id}) }}">Modifier profil</a>
	<a type="button" onclick="return checkDelete()" class="btn btn-danger" href="{{ path('formation_delete', {'id':formation.id}) }}">Supprimer le formation</a>
	<script language="JavaScript" type="text/javascript">
		// https://stackoverflow.com/questions/19022176/confirm-button-before-running-deleting-routine-from-website
// https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_confirm3
function checkDelete() {
return confirm('Appuyez sur OK pour supprimer.\nSinon veuillez Annuler');
}
// ATTENTION QUAND CANCEL LE ONCLICK DU <tr> EST QUAND MEME ACTIVE
	</script>
{% endblock %}
