{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<a type="button" href="{{ path('annuaire')}}" class="btn btn-light">< Retour</a>

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Ajout d'un nouvel utilisateur</h1>

    {{ form_start(registrationForm) }}    
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.roles) }}
        {{ form_row(registrationForm.plainPassword, {'label':'Password'}) }}
        {# {{ form_row(registrationForm.confirmPassword) }} #}
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.prenom) }}
        {{ form_row(registrationForm.civilite) }}
        {{ form_row(registrationForm.datenaissance) }}
        {{ form_row(registrationForm.adresse) }}
        {{ form_row(registrationForm.cp) }}
        {{ form_row(registrationForm.ville) }}
        {{ form_row(registrationForm.telephone) }}
        {# {{ form_row(registrationForm.agreeTerms) }} #}
        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
