{% extends 'base.html.twig' %}

{% block contenu %}
	<a type="button" class="btn btn-success ajouter" href="
		
		{{ path('app_register')}}
		
		">Ajouter</a>


	<table class="table">
		<tr>
			<th>NOM</th>
			<th>PRENOM</th>
			{# <th>ROLE</th> #}
			<th>CIVILITE</th>
			<th>EMAIL</th>
			<th>TELEPHONE</th>
			<th>DATE DE NAISSANCE</th>
			<th>VILLE</th>
			<th>ADRESSE</th>
			<th>CP</th>
			<th>Modifier</th>
			<th>Supprimer</th>
		</tr>
	</thead>
	<tbody>
		{% for annuaire in utilisateurs %}
			<tr>
				<td>{{ annuaire.nom }}</td>
				<td>{{ annuaire.prenom }}</td>
				{# <td>{{ annuaire.role }}</td> #}
				<td>{{ annuaire.civilite }}</td>
				<td>{{ annuaire.email }}</td>
				<td>{{ annuaire.telephone }}</td>
				<td>{{ annuaire.dateNaissance | date ('d/m/Y') }}</td>
				<td>{{ annuaire.ville }}</td>
				<td>{{ annuaire.adresse }}</td>
				<td>{{ annuaire.cp }}</td>
				<td>
					<a type="button" class="btn btn-warning" href="
						                {# {{ path('utilisateur_edit', {'id':utilisateur.id}) }} #}
						                ">Modifier</a>
				</td>
				<td>
					<a type="button" class="btn btn-danger" href="
						                {# {{ path('utilisateur_delete', {'id':utilisateur.id}) }} #}
						                ">Supprimer</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>{% endblock %}
