{% extends 'base.html.twig' %}

{% block contenu %}
	<p>{{ utilisateur.nom ~ ' ' ~ utilisateur.prenom }}</p>
	<p>{{ utilisateur.civilite }}</p>
	<p>Adresse mail : <a href="mailto:{{ utilisateur.email }}">{{ utilisateur.email }}</a></p>
	<p>{{ utilisateur.telephone }}</p>
	<p>{{ utilisateur.dateNaissance | date ('d/m/Y') }}</p>
	<p>{{ utilisateur.ville }}</p>
	<p>{{ utilisateur.adresse }}</p>
	<p>{{ utilisateur.cp }}</p>
    <a type="button" class="btn btn-warning" href="{{ path('app_changepassword', {'id':app.user.id}) }}">Modifier MDP</a>
{% endblock %}
