{% extends 'base.html.twig' %}

{% block contenu %}
	<h1>Annuaire des Stagiaires</h1>
	<a type="button" class="btn btn-success ajouter" href="
		
		{{ path('stagiaire_add')}}
		
		">Ajouter</a>


	<table class="table">
		<tr>
			<th>NOM</th>
			<th>PRENOM</th>
			<th>CIVILITE</th>
			<th>EMAIL</th>
			<th>TELEPHONE</th>
			<th>DATE DE NAISSANCE</th>
			<th>VILLE</th>
			<th>ADRESSE</th>
			<th>CP</th>
			<th>Modifier</th>
			<th>Supprimer</th>
		</tr>
	</thead>
	<tbody>
		{% for stagiaire in stagiaires %}
			<tr>
				<td><a href="{{ path('stagiaire_show', {'id':stagiaire.id}) }}">{{ stagiaire.nom }}</a></td>
				<td>{{ stagiaire.prenom }}</td>
				<td>{{ stagiaire.civilite }}</td>
				<td><a href="mailto:{{ stagiaire.email }}">{{ stagiaire.email }}</a></td>
				<td>{{ stagiaire.telephone }}</td>
				<td>{{ stagiaire.dateNaissance | date ('d/m/Y') }}</td>
				<td>{{ stagiaire.ville }}</td>
				<td>{{ stagiaire.adresse }}</td>
				<td>{{ stagiaire.cp }}</td>
				<td>
					<a type="button" class="btn btn-warning" href="{{ path('stagiaire_edit', {'id':stagiaire.id}) }}">Modifier</a>
				</td>
				<td>
					<a type="button" onclick="return checkDelete()" class="btn btn-danger" href="{{ path('stagiaire_delete', {'id':stagiaire.id}) }}">Supprimer</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<script language="JavaScript" type="text/javascript"> //https://stackoverflow.com/questions/19022176/confirm-button-before-running-deleting-routine-from-website
function checkDelete(){
    return confirm('Appuyez sur OK pour supprimer. Sinon veuillez Annuler');
}
</script>
{% endblock %}
