{% extends 'base.html.twig' %}

{% block contenu %}
	<a type="button" onclick="history.go(-1);" class="btn" style="padding-left: 0;">
		<i class="fas fa-arrow-left" style="font-size: 3rem"></i>
	</a>
		<h1>Details Stagiaire</h1>
	<table>
		<tr>
			<th>Nom :</th>
			<td>{{ stagiaire.nom ~ ' ' ~ stagiaire.prenom }}</td>
		</tr>
		<tr>
			<th>Civilité :</th>
			<td>{{ stagiaire.civilite }}</td>
		</tr>
		<tr>
			<th>Adresse mail :</th>
			<td>
				<a href="mailto:{{ stagiaire.email }}">{{ stagiaire.email }}</a>
			</td>
		</tr>
		<tr>
			<th>Téléphone :</th>
			<td>{{ stagiaire.telephone }}</td>
		</tr>
		<tr>
			<th>Date de naissance :</th>
			<td>{{ stagiaire.dateNaissance | date ('d/m/Y') }}</td>
		</tr>
		<tr>
			<th>Ville :</th>
			<td>{{ stagiaire.ville }}</td>
		</tr>
		<tr>
			<th>Adresse :</th>
			<td>{{ stagiaire.adresse }}</td>
		</tr>
		<tr>
			<th>Code Postal :</th>
			<td>{{ stagiaire.cp }}</td>
		</tr>
	</table>
	{% if is_granted('ROLE_ADMIN') %}
		<a type="button" class="btn btn-warning" href="{{ path('stagiaire_edit', {'id':stagiaire.id}) }}">Modifier profil</a>
		<a type="button" onclick="return checkDelete()" class="btn btn-danger" href="{{ path('stagiaire_delete', {'id':stagiaire.id}) }}">Supprimer le stagiaire</a>
		{% endif %}
		
		<h4>Sessions du stagiaire :</h4>
<table class="table">
		<tr>
			<th>NOM</th>
			<th>Formation</th>
            <th>Date début</th>
            <th>Date fin</th>
            <th>Nombre places</th>
			<th>Nombre places restantes</th>
		</tr>
	</thead>
	<tbody>
		{% for sessions in stagiaire.sessions %}
			<tr class="clickabletablerow" onclick="window.location='{{ path('session_show', {'id':sessions.id}) }}';">
				<td>{{ sessions.nom }}</td>
				<td>{{ sessions.formation.nom }}</td>
                <td>{{ sessions.dateDebut | date ('d/m/Y') }}</td>
                <td>{{ sessions.dateFin | date ('d/m/Y') }}</td>
                <td>{{ sessions.nombrePlaces }}</td>
				<td>{{ sessions.nombrePlaces - sessions.stagiaire | length }}</td>
				{# https://stackoverflow.com/questions/17665271/counting-the-number-of-elements-in-array #}
			</tr>
		{% endfor %}
	</tbody>

		<script language="JavaScript" type="text/javascript">
			// https://stackoverflow.com/questions/19022176/confirm-button-before-running-deleting-routine-from-website
// https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_confirm3
function checkDelete() {
return confirm('Appuyez sur OK pour supprimer.\nSinon veuillez Annuler');
}
// ATTENTION QUAND CANCEL LE ONCLICK DU <tr> EST QUAND MEME ACTIVE
document.getElementById("coloredselect1").style.background = "yellow";
document.getElementById("coloredselect1").style.color = "black";
</script>	
{% endblock %}
