{% extends 'base.html.twig' %}

{% block contenu %}
	<h1>Annuaire des Employés</h1>
	{% if is_granted('ROLE_SUPER_ADMIN') %}
	<a type="button" class="btn btn-success ajouter" href="{{ path('app_register')}}">Ajouter</a>
	{% endif %}


	<table class="table">
		<tr>
			<th>NOM</th>
			<th>PRENOM</th>
			{# <th>ROLE</th> #}
			<th>CIVILITE</th>
			<th>EMAIL</th>
			<th>TELEPHONE</th>
			<th>DATE DE NAISSANCE</th>
			<th>VILLE</th>
			<th>ADRESSE</th>
			<th>CP</th>
			{% if is_granted('ROLE_ADMIN') %}
				<th>Modifier</th>
			{% endif %}
			{% if is_granted('ROLE_SUPER_ADMIN') %}
				<th>Supprimer</th>
			{% endif %}
		</tr>
	</thead>
	<tbody>
		{% for utilisateur in utilisateurs %}
			<tr class="clickabletablerow" onclick="window.location='{{ path('utilisateur_show', {'id':utilisateur.id}) }}';">
				<td>{{ utilisateur.nom }}</td>
				<td>{{ utilisateur.prenom }}</td>
				{# <td>{{ utilisateur.role }}</td> #}
				<td>{{ utilisateur.civilite }}</td>
				<td>
					<a href="mailto:{{ utilisateur.email }}">{{ utilisateur.email }}</a>
				</td>
				<td>{{ utilisateur.telephone }}</td>
				<td>{{ utilisateur.dateNaissance | date ('d/m/Y') }}</td>
				<td>{{ utilisateur.ville }}</td>
				<td>{{ utilisateur.adresse }}</td>
				<td>{{ utilisateur.cp }}</td>
				{% if is_granted('ROLE_ADMIN') %}
					<td>
						<a type="button" class="btn btn-warning" href="{{ path('utilisateur_edit', {'id':utilisateur.id}) }}">Modifier</a>
					</td>
				{% endif %}
				{% if is_granted('ROLE_SUPER_ADMIN') %}
					<td>
						<a type="button" onclick="return checkDelete()" class="btn btn-danger" href="{{ path('utilisateur_delete', {'id':utilisateur.id}) }}">Supprimer</a>
					</td>
					{% endif %}
			</tr>
		{% endfor %}
	</tbody>
</table>
<script language="JavaScript" type="text/javascript">
	// https://stackoverflow.com/questions/19022176/confirm-button-before-running-deleting-routine-from-website
// https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_confirm3
function checkDelete() {
return confirm('Appuyez sur OK pour supprimer.\nSinon veuillez Annuler');
}
// ATTENTION QUAND CANCEL LE ONCLICK DU <tr> EST QUAND MEME ACTIVE
</script>{% endblock %}
