{% extends 'base.html.twig' %}

{% block contenu %}
	<a type="button" href="{{ path('categorie')}}" class="btn" style="padding-left: 0;">
		<i class="fas fa-arrow-left" style="font-size: 3rem"></i>
	</a>
	<table>
		<tr>
			<th>Nom :</th>
			<td>{{ categorie.nom }}</td>
		</tr>
		<tr>
			<th>Description :</th>
			<td>{{ categorie.description }}</td>
		</tr>
	</table>
	{% if is_granted('ROLE_ADMIN') %}
	<a type="button" class="btn btn-warning" href="{{ path('categorie_edit', {'id':categorie.id}) }}">Modifier profil</a>
	<a type="button" onclick="return checkDelete()" class="btn btn-danger" href="{{ path('categorie_delete', {'id':categorie.id}) }}">Supprimer la categorie</a>
	<script language="JavaScript" type="text/javascript">
		// https://stackoverflow.com/questions/19022176/confirm-button-before-running-deleting-routine-from-website
// https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_confirm3
function checkDelete() {
return confirm('Appuyez sur OK pour supprimer.\nSinon veuillez Annuler');
}
// ATTENTION QUAND CANCEL LE ONCLICK DU <tr> EST QUAND MEME ACTIVE
	</script>
	{% endif %}
{% endblock %}
